body {
    font-family: "Trebuchet MS";
    background-color: #F2EBE5;
    margin-left: 30px;
    margin-right: 40px;
    text-align: justify;
}
.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    background-color: #d8c8bb;       /* Ajout de la couleur d'arrière-plan */
    justify-content: space-around;/* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
  
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 175px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #647295;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #F2EBE5;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    
    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
    background-color: #2B262D ; 
    color: #fff ;
    border-color:  #F2EBE5 ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #9F496E;
    color: #fff;
    border-color: #F2EBE5;
}

h1 {
    /*color: #2B262D;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

p, li, h2, h3{
    color: #2B262D;
}

.jaune {
    color: rgb(194, 194, 27);
}
.vert {
    color: green;
}
.noir {
    color: black;
}
.bleu {
    color: blue;
}
.orange {
    color: orange;
}
.rouge {
    color: red;
}

.titre {
    font-size: 140%;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
}

.tableau1 td {
    border: #2B262D 1px solid;
}

.tab {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.tableau1 {
    margin-right: 50px;
    margin-left: 50px;
}

table {
    border-collapse: collapse;
    width: 100px;
    height: 100px;
    text-align: center;
}

.tableau2, .tableau3 {
    border:  #2B262D 1px solid;
}

.tableau1 td, .tableau2 td, .tableau3 td {
    width:100px;
}

.gauche {
    text-align: left;
}

.b {
    background-color: blue;
}
.o {
    background-color: orange;
}
.j {
    background-color: yellow;
}
.n {
    background-color: black;
    color:#F2EBE5;
}
.r {
    background-color: red;
}
.v {
    background-color: green;
}

#groupe {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    margin-top: 50px;
}